/ScannerProjet-master/ScannerProjet-master/build/
/ScannerProjet-master/ScannerProjet-master/dist/
/ScannerProjet-master/ScannerProjet-master/nbproject/private/
/ScannerProjet-original/build/
/ScannerProjet-original/dist/
/ScannerProjet-original/nbproject/private/